[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lxml = "*"
cssselect = "*"
selenium = "*"
docopt = "*"
pyyaml = "*"
pymysql = "*"
google-cloud-language = "*"


[dev-packages]



[requires]

python_version = "3.6"
